<mat-card *ngIf="user | async">
  <mat-card-content>
    <h1>Add comment</h1>
    <form fxLayout="column" #f=ngForm (ngSubmit)="createComment()">
      <div class="error" *ngIf="error | async">
        {{ (error | async) }}
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <input name="description" matInput required ngModel #description="ngModel">
        <mat-error *ngIf="description.touched && description.errors?.['required']">Enter your comment!</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <button type="submit" mat-raised-button color="primary" [disabled]="!description.value || f.invalid || (loading | async)">
          <mat-spinner *ngIf="loading | async" diameter="25"></mat-spinner>
          <span *ngIf="!(loading | async)">Add</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
