<mat-toolbar color="primary">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/" class="logo">Forum</a>
    <nav *ngIf="!(user | async) else userMenu">
      <a routerLink="/register" mat-button class="user-menu-btn">Register</a>
      <a routerLink="/login" mat-button class="user-menu-btn">Login</a>
    </nav>
  </div>
</mat-toolbar>
<div class="container">
  <ng-content></ng-content>
</div>

<ng-template #userMenu>
  <nav>
    <span>Hello, <strong>{{ (user | async)?.['email'] }}</strong>!</span>&nbsp;
    <a routerLink="/posts/new" mat-button class="user-menu-btn">Add new post</a>&nbsp;
    <button mat-button (click)="logout()" class="user-menu-btn">Logout</button>
  </nav>
</ng-template>
