<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-spinner *ngIf="loading | async else postsArea"></mat-spinner>

<ng-template #postsArea>
  <div *ngIf="postData">
    <p>
      <span>{{ postData.title }} </span><span class="text-muted">({{ postData.date }})</span>
    </p>
    <img
      [src]="postData.image | image"
      [alt]="'Photo of ' + postData.title"/>
    <p>{{ postData.description }}</p>
  </div>
</ng-template>

<ng-container *ngIf="postData">
  <app-comments [post]="postData._id"></app-comments>
</ng-container>

<ng-container *ngIf="postData">
  <app-edit-comment [post]="postData._id"></app-edit-comment>
</ng-container>
